* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(10, 201, 127);
}