header {
  display: flex;
  padding: 1em;
  background-color: rgb(0, 71, 67);
}

.header_ul {
  display: flex;
  list-style: none;
}

.header_li {
  flex: 1;
  margin-right: 5em;
}

.header_li a {
  color: white;
  font-weight: 800;
}

.logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60em;
  margin-bottom: -0.8em;
  margin-top: -0.8em;
  border: 0.1em solid black;
  border-radius: 1.5em;
  background-color: wheat;
  width: 6em;
}

.logo {
  height: 2.5em;
  width: auto;
}