* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html * {
  font-size: 1.05em !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  letter-spacing: 0.02em !important;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(10, 201, 127) !important;
}

main {
  padding: 2em 6em 2em 6em;
  background-color: cornsilk;
}